body {
    background: white;
    color:white;
    font-size:14px;
    font-family:comic sans ms;}
 
* {
 margin: 0px;
 padding: 0px;
}
 
/*CSS DE LOS PRODUCTOS*/
 img.imagen {
 margin-left:auto;
 margin-right:auto;
 display:block;
 padding-top:5px;
 }
 
 div.etiquetas {
 color: white;
 text-align:center;
 width:222px;
 height:22px;
 }
 
 div.stock {padding-left:0px;}
 
 input.uniBien {
 position:relative;
 margin-left:45px;
 
 
 background:white;
 }
 input.uniMal {
 margin-left:52px;
 background:red;
 }
 
 div.divsNo {display:none;}
 div.divsSi {display:yes;}
 
 #todo{
    top:1000px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    left: 200px;
    background: #333;

}
 div.todoNo{height:805px;}
 div.todoSi{height:1070px;}
 
 /*
 #menu{

}
*/
 div.menuNo{height:775px;}
 div.menuSi{height:1040px;}
 
/*Divs para colocar cada producto en su sitio*/
 #div1{
 position:absolute;
 top:38px;
 left:12px;
 width:221px;
 height:217px;
 }
 
 #div2{
 position:absolute;
 top:38px;
 left:246px;
 width:221px;
 height:217px;
 }
 
 #div3{
 position:absolute;
 top:38px;
 left:480px;
 width:221px;
 height:217px;
 }
 
 #div4{
 position:absolute;
 top:271px;
 left:12px;
 width:221px;
 height:217px;
 }
 
 #div5{
 position:absolute;
 top:271px;
 left:246px;
 width:221px;
 height:217px;
 }
 
 #div6{
 position:absolute;
 top:271px;
 left:480px;
 width:221px;
 height:217px;
 }
 
 #div7{
 position:absolute;
 top:504px;
 left:12px;
 width:221px;
 height:217px;
 }
 
 #div8{
 position:absolute;
 top:504px;
 left:246px;
 width:221px;
 height:217px;
 }
 
 #div9{
 position:absolute;
 top:504px;
 left:480px;
 width:221px;
 height:217px;
 }
 
 
 
/*CSS DEL CARRITO DE LA COMPRA*/
 /*Div para los botones*/
 
 #divbotones{
position: relative;
 top:200px;
 left: 400px;
 width:440px;
 }
 
 #tablaTotal {
 margin: 0px 0px 0px 0px;
 }
 td.pro {
 width:00px;
 text-align:center;
 background: #333;
 }
 td.uni {
 width:150px;
 text-align:center;
 background:#333;
 }
 td.preUni {
 width:150px;
 text-align:center;
 background:#333;
 }
 td.preTotal {
 width:150px;
 text-align:center;
 background:#333;
 }
 tr.proCarrito {
 text-align:center;
 }
 
 /*Divs para la zona de compras*/
 div.divZonaCompraSi{
 position:relative;
 top:200px;
 padding:0px 10px 10px 10px;
 display:yes;
 left: 400px;
 width:600px;
 height:auto;
 
 background:#333;
 }
 div.divZonaCompraNo{
 position:relative;
 top:742px;
 padding:0px 11px 20px 11px;
 display:none;
 width:693px;
 height:385px;
 
 background:#333;
 }
 
 /*Divs del carrito y formularios*/
 #divTotal{
 background:#333;
 }
 #divDatos{
 background:#333;
 }
  
 #divDatosPersonales0 {
 position:relative;
 left:0px;
 padding:0px 0px 0px 10px;
 width:300px;
 }
 
 #divDatosPersonales1 {
 position:relative;
 width:230px;
 height:130px;
 }
 
 #divDatosPersonales2 {
 position:relative;
 top:-130px;
 left:260px;
 width:200px;
 height:130px;
 }
  
 
/*CSS VALIDACION*/ 
 input.textBien {background:#d1fbe1;}
 input.textMal {background:pink;}
 select.textBien {background:#d1fbe1;}
 select.textMal {background:pink;} 
 span.alertTipoDeTarjeta {color:red;}


 .columnas{
     display: flex;
 }